@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --card-color: rgb(37, 38, 50);
    --card-difuminate-color: rgb(80, 82, 104);
}

body{
    display: flex;
    background-color: rgb(101, 101, 101);
    font-family: 'Work Sans', sans-serif;
    min-height: 100%;
}

.grid-Container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "Navbar"
    "Container";
}

/* Navbar */

.navbar-Conteiner{
    grid-area: Navbar;
    position: fixed;
    flex-direction: row;
    top: 0%;
    width: 100%;
    height: 64px;
    background-color: var(--card-color);
}

a{
    text-decoration: none;
}

.tittle-Background{
    font-size: 30px;
    background: linear-gradient(90deg, #1ED7B5ff, #41DDB3ff, #64E2B0ff, #87E8AEff, #AAEEACff, #CDF3A9ff, #F0F9A7ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: center;
}

/* Cards */

.Cards-PokeInitials{
    padding-top: 74px;
    grid-area: Container;
    margin: auto;
}

.Cards-PokeInitials:first-child{
    margin-top: 74px;
}

.poke-card{
    background-color: var(--card-color);
    width: 200px;
    display: grid;
    grid-template-areas: 
    "image"
    "info";
    grid-template: 
    "image" 200px
    "info" auto /
    auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.image-Container{
    width: 200px;
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.poke-image{
    width: 100px;
    transition: .3s;
}

.poke-card:hover  .poke-image{
    transform: scale(1.3);
}

.poke-info{
    grid-area: info;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "Name"
    "Type"
    "Abilities"
    "States"
    "Form";
    grid-template: 
    "Name" 30px
    "Type"
    "Abilities"
    "States"
    "Form";
    gap: 10px;
    color: rgb(240, 248, 240);
}

.poke-name{
    grid-area: Name;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--card-difuminate-color);
    border-radius: 20px;
}

.poke-Type{
    grid-area: Type;
    display: grid;
    grid-template-columns: repeat(2, 80px);
    gap: 10px;
}

.type{
    color: rgb(0, 0, 0);
}

.types-tittle{
    grid-column: 1 / 3;
}

.background-type{
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
}

.poke-Abilities{
    grid-area: Abilities;
    display: grid;
    gap: 5px;
    text-transform: capitalize;
}

.poke-States{
    grid-area: States;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.poke-state{
    text-transform: capitalize;
}

.states{
    grid-column: 1 / 3;
}

.accommodate-stats{
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.progress{
    height: 10px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(230, 243, 250);  
    margin: auto;
}

.progress-hp{
    height: 10px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(230, 243, 250);
}

.progress::-webkit-progress-value{
    border-radius: 27px;
    background-color: rgb(235, 201, 49);
}

.progress::-webkit-progress-bar{
    background-color: rgb(219, 219, 219);
    border-radius: 27px;
}
.progress-hp::-webkit-progress-value{
    border-radius: 27px;
    background-color: rgb(49, 235, 49);
}

.progress-hp::-webkit-progress-bar{
    background-color: rgb(219, 219, 219);
    border-radius: 27px;
}

.form-conteiner{
    grid-area: "Form";
}

.moreInfo-Button{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--card-difuminate-color);
    color: rgb(240, 248, 240);
    transition: .3s;
}

.moreInfo-Button:hover{
    color: rgb(0, 180, 216);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(0, 180, 216);
    text-decoration: underline;
    box-shadow: 0px 2px 5px rgb(0, 180, 216);
}

@media(min-width: 768px) {
    .poke-card{
        width: 400px;
        grid-template: 
        "image info" auto;
    }

    .image-Container{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 15px;
    }
}

@media(min-width: 1024px){
    .poke-card{
        width: 700px;
    }
    .poke-info{
        grid-template: 
        "Name Name Name" 30px
        "Type Abilities States" auto
        "Form Form Form";
    }
    .poke-Type{
        display: grid;
        grid-template-rows: repeat(2, 30px auto);
    }
    .types-tittle{
        text-align: center;
    }
    .background-type{
        height: 30px;
        padding: 5px;
    }
    .poke-Abilities{
        height: max-content;
        gap: 5px;
    }
    .abilities{
        text-align: center;
    }
    .form-conteiner{
        grid-column: 1 / 4;
        margin-top: 5px;
    }
}